body, div, span, textarea {
	font-family: Helvetica, Arial, sans-serif;
}

main {
  width: 100%;
}

.chat {
  width: 100%;
  max-width: 20rem;
  margin: 2rem auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 8px;
}

.chat-title {
  border-radius: 8px 8px 0 0;
  background-color: #4abeed;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.chat-title h1 {
  margin: 0;
  color: white;
  font-size: 1rem;
}

#chatHolder {
	height: 18rem;
	overflow-y: scroll;
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
}

#show-history {
	background: transparent;
	border: none;
	color: #4abeed;
	font-weight: bold;
	margin: 1rem 0;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: pointer;
}

#chatHistory {
	color: lightgray;
	padding: .5rem 1.25rem;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ddd;
	opacity: .7;
}

#chatHistory .chat-message {
	background-color: lightgray;
	min-width: 8rem;
}

#chatHistory .visitor .chat-message {
	background-color: gray;
}

.message-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.message-container.visitor {
	align-self: flex-end;
}

.chat-message {
	padding: .5rem;
	margin: 0;
	font-size: .75rem;
	color: gray;
	position: relative;
}

.chat-message:before {
	content: '';
	width: 0;
	height: 0;
	border-top: 8px solid lightgray;
	position: absolute;
	top: 0;
}

.operator .chat-message {
	border-radius: 0 5px 5px 5px;
}

.operator .chat-message:before {
	border-left: 8px solid transparent;
	left: -.5rem;
}

.visitor .chat-message {
	border-radius: 5px 0 5px 5px;
}

.visitor .chat-message:before {
	border-right: 8px solid transparent;
	right: -.5rem;
}

.visitor .chat-message:before {
	border-top-color: gray;
	border-right: 8px solid transparent;
}

.visitor .chat-message {
	color: white;
}

.message-description {
	font-size: .625rem;
	display: flex;
	justify-content: space-between;
	color: #bcbcbc;
	margin: .375rem 0;
	min-width: 8rem;
	text-transform: capitalize;
}

#liveChat {
	min-height: 12.375rem;
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: .3rem;
	font-weight: bold;
}

#liveChat .chat-message {
	background-color: white;
	padding: 1rem;
}

#liveChat .operator .chat-message:before {
	border-top-color: white;
}

#liveChat .visitor .chat-message {
	background-color: #4abeed;
}

#liveChat .visitor .chat-message:before {
	border-top-color: #4abeed;
}

#loading-message {
	margin-bottom: 1.4rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 1rem;
}

.lds-ellipsis span {
  position: absolute;
  top: .5rem;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  background: #4abeed;
	margin-left: 1.5rem;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis span:nth-child(1) {
  left: .2rem;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis span:nth-child(2) {
  left: .2rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis span:nth-child(3) {
  left: .8rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis span:nth-child(4) {
  left: 1.4rem;
  animation: lds-ellipsis3 0.6s infinite;
}

.chat-write {
	display: flex;	
	height: 4rem;
	position: relative;
}

#chatInput {
	border: none;
	padding: .5rem 3rem 0 .5rem;
	color: #a4a4a4;
	outline: none;
	resize: none;
	border-radius: 0 0 8px 8px;
	font-size: .75rem;
	width: 100%;
	height: 100%;
	line-height: 1rem;
}

#chatInput::placeholder {
	color: lightgray;
}

#chatSubmit {
	align-items: center;
	background: transparent;
  border: none;
	border-radius: .5rem;
	cursor: pointer;
	display: flex;
	font-weight: bold;
	height: 2rem;
	justify-content: center;
	margin: .9rem 0;
	padding: 1.1rem;
	position: absolute;
	right: .5rem;
	transition: background-color 1s;
	vertical-align: top;
	width: 2rem;
}

#chatSubmit:not(:disabled):hover {
	border: 1px solid #c9c9c9;
}

#chatSubmit:before {
	content: '';
	width: 0;
	height: 0;
	border-top: .7rem solid transparent;
	border-left: 1.4rem solid #c9c9c9;
	border-bottom: .7rem solid transparent;
}

#chatSubmit:not(:disabled):hover:before {
	border-left-color: #e4e1e1;
}

#chatSubmit:disabled {
	cursor: not-allowed;
	opacity: .7;
}

#characters-left {
	position: absolute;
	bottom: .3rem;
	right: 3.2rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .75rem;
	color: #c7c7c7;
}

#chatHistory.hide {
	display: none;
}

#show-history.hide {
	display: none;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(.6rem, 0);
  }
}